div{
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    width: 400px;
    height: 200px;
}

button{
    font-family: "Courier New", Courier, monospace;
    font-size: 15px;
    color: rgb(0, 0, 0);
    background-color: rgb(240, 193, 193);
    margin-left: 95px;
    margin-top: 30px;
    padding: 2px 15px;
  }

  h2{
    font-family: "Courier New", Courier, monospace;
    text-align: center;
    font-weight: bold;
  }